@model ForumDAL.Post
@{
    ViewBag.Title = "New";
}

<h2>New</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    <label for="SubtopicID">Select topic</label>
    <select id="SubtopicID" class="form-control" name="SubtopicID">
        <option >    </option>
        @foreach (var topic in ViewBag.Topics)
        {

            <optgroup label="@topic.TopicName">
                @foreach (var subtopic in topic.subtopics)
                {
                    <option name="subTopicID" value="@subtopic.SubTopicID">@subtopic.SubtopicName</option>

                }
            </optgroup>
        }
    </select>
    @Html.ValidationMessageFor(m => m.SubtopicID, "Choose topic")

</div>

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <button class="btn btn-primary">Create</button>

}

