@using ForumDAL
@using ForumDAL.Repositories
@model Forum_Final.ViewModels.PostViewModel

<h3>@Model.post.Title</h3>


<div class="row">


    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Post Describtion</div>
            <div class="panel-body">

                @Model.post.Description;

            </div>
        </div>


    </div>

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Comments</div>
            <div class="panel-body">

                <ul>
                    @foreach (var comment in Model.comments)
                    {
                        // <li class="list-group-item">@Html("PostPage", "Post") @post.Title</li>
                        <li class="list-group-item">@comment.Title</li>

                    }
                </ul>


            </div>
        </div>


    </div>

</div>