@model ForumDAL.User
@{
    ViewBag.Title = "Login";
}


<div class="row">
    <div>
        <h2>Login</h2>
        <div class="container">
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserLogin)
                        @Html.TextBoxFor(model => model.UserLogin, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserLogin)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserPassword)
                        @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserPassword)

                    </div>
                    <button class="btn btn-primary" type="submit">Login</button>
                    <p class="alert-danger">@ViewBag.Message</p>





                }
            </div>
        </div>
    </div>
</div>

