@using ForumDAL.Models
@{

    if (Request.Cookies.Get("ID").Value != "0" && Session["FullName"] != null)
    {

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink($"{Session["FullName"]}", "Index", "User")
            </li>

            <li>
                @Html.ActionLink("Notifications", "Notifications", "User", new { area = "" }, new { @class = "notifications" })
                @{
                    List<Notification> notifications = (List<Notification>)Session["Notifications"];

                    <span id="not_number">@Html.Partial("~/Views/User/Notification.cshtml", notifications)</span>
                }
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings   <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li> @Html.ActionLink("Edit your details", "Edit")</li>
                    <li> @Html.ActionLink("Delete Account", "Edit")</li>
                    <li>@Html.ActionLink("Sign Out", "SignOut", "User")</li>

                </ul>
            </li>
        </ul>

    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Login", "Login", "User")
            </li>
            <li>
                @Html.ActionLink("Register", "Register", "User")
            </li>

        </ul>
    }



    <script>
    window.setInterval(function () {
        $("#not_number").load("@Url.Action("Notification","User")");
    }, 5000);
    </script>

}               